var config = require('./config.wxs');
var mapping = ['incoming', 'outgoings'];

function transformType(item) {
    var key = mapping[item.type];
    var arr = config[key];
    for (var i = 0; i < arr.length; i++) {
        if (arr[i].key === item.key) {
            return arr[i].value;
        }
    }
    return '';
}

function transformImageURL(item) {
    var key = mapping[item.type];
    var arr = config[key];
    for (var i = 0; i < arr.length; i++) {
        if (arr[i].key === item.key) {
            return '../../assets/' + arr[i].pinyin + '.png';
        }
    }
    return '';
}

function formatMoney(item) {
    var base = item.type === 0 ? 1 : -1;
    return (base * item.value / 100).toFixed(2);
}

function formatDate(dateStr) {
    var arr = dateStr.split('-');
    return arr[1] + '月' + arr[2] + '日';
}

function calculate(arr, type) {
    var totalAmount = arr.reduce(function (sum, item) {
        if (typeof type !== 'undefined') {
            var amount = item.type === type ? item.value : 0;
            return sum += amount;
        } else {
            var base = item.type === 0 ? 1 : -1;
            return sum += base * item.value;
        }
    }, 0);
    return (totalAmount / 100).toFixed(2);
}

module.exports = {
    calculate: calculate,
    formatDate: formatDate,
    formatMoney: formatMoney,
    transformType: transformType,
    transformImageURL: transformImageURL
}